h1 { 
    text-align: center;
    font-size: 30px;
}

body {
    background-color: #101214;
}

.widget {
    background-color: #2A2A2A;
    padding: 5px 5px 5px 5px;
}

.c-white {
    color: #DBDBDB;
}

.c-orange {
    color: #FAA202;
}

.c-green {
    color: #89BB60;
}

.c-blue {
    color: #3A97CE;
}

.c-red {
    color: #E3524F;
}